@import "styles/viewports.scss";

.books-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto 20px;
}

@media (max-width: $desktop) {
  .books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $tablet) {
  .books-list {
    gap: 10px;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $mobile) {
  .books-list {
    gap: 40px;
    padding: 0 40px;
    grid-template-columns: 1fr;
  }
}
