@import "styles/viewports.scss";
@import "styles/variables.scss";

.search {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  background-color: $dark-gray;

  &__title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    color: $white;
  }
}

@media (max-width: $mobile) {
  .search {
    padding: 20px;

    &__title {
      text-align: center;
      font-size: 32px;
      margin-bottom: 20px;
      color: $white;
    }
  }
}
